
body{
    background-color: #19191B;
}

.secTwo{
background-color: #19191B;
background-repeat: no-repeat;

}
.CardPng {
    background-image: url(./assets/images/Icon.png);
    background-repeat: no-repeat;
    background-color: #19191B;
}
.CardPng1 {
    background-image: url(./assets/images/Second.png );
    background-repeat: no-repeat;
    background-color: #19191B;
}
.CardPng2 {
    background-image: url(./assets/images/Third.png );
    background-repeat: no-repeat;
    background-color: #19191B;
}
.CardPng6 {
    background-image: url(./assets/images/Fourth.png );
    background-repeat: no-repeat;
    background-color: #19191B;
}
.CardPng4 {
    background-image: url(./assets/images/Fifth.png );
    background-repeat: no-repeat;
    background-color: #19191B;
}
.CardPng5 {
    background-image: url(./assets/images/Sixth.png );
    background-repeat: no-repeat;
    background-color: #19191B;
}
.Hero{
    background: #19191B;
}
.Overview{
    background-color: #19191B;
}

.CardContainer{
    background-color: #19191B; 
}
.Grid {
    background-color: #19191B; 
}
.Foot{
    background-color: #19191B; 
}
.ServerBtn{
    background-color: blueviolet;
    color: #fff;
    border: blueviolet;
}